absl-py==2.2.1
asgiref==3.8.1
astunparse==1.6.3
bareun-apis==0.13.0
bareunpy==1.6.6
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
Django==5.1.7
django-cors-headers==4.7.0
django-environ==0.12.0
djangorestframework==3.15.2
filelock==3.13.1
flatbuffers==25.2.10
fonttools==4.57.0
fsspec==2024.6.1
gast==0.4.0
google-auth==2.38.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.69.2
grpcio==1.71.0
gunicorn==23.0.0
h5py==3.13.0
huggingface-hub==0.29.3
idna==3.10
Jinja2==3.1.3
joblib==1.4.2
keras==2.13.1
kiwipiepy==0.20.4
kiwipiepy-model==0.20.0
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.10.1
mpmath==1.3.0
mysqlclient==2.2.7
networkx==3.3
nltk==3.9.1
numpy==1.24.3
oauthlib==3.2.2
opt_einsum==3.4.0
packaging==24.2
pandas==2.2.3
pillow==11.0.0
protobuf==3.20.3
psutil==7.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyMySQL==1.1.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
sentencepiece==0.2.0
six==1.17.0
soynlp==0.0.493
sqlparse==0.5.3
sympy==1.13.1
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.0.0
threadpoolctl==3.6.0
tokenizers==0.21.1
torch==2.5.1+cu118
torchaudio==2.5.1+cu118
torchtext==0.18.0
torchvision==0.20.1+cu118
tqdm==4.67.1
transformers==4.50.3
typing_extensions==4.5.0
tzdata==2025.2
urllib3==2.3.0
Werkzeug==3.1.3
wrapt==1.17.2
